<footer class="footer-fn">
  <div class="footer_top">
    <div class="maincontentdiv text_align_center no-gutters">
      <div class="container_fluid">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-7">
                <div class="footer-single-widget">
                  <div class="widget-body">
                    <ul>
                      <li><a href="#" class="title_m">FoodNiche® Tech Summit</a></li>
                      <li><a href="#" class="title_m">FoodNiche® Global Health Summit</a></li>
                      <li><a href="#" class="title_m">Food + Health Talks</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <ul>
                  <li><a href="#" class="description">Terms</a></li>
                  <li><a href="#" class="description">Privacy Policy</a></li>
                  <li><a href="#" class="description">Work With Us</a></li>
                  <li><a href="#" class="description">Sponsor Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="link-follow">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</footer>
