<app-header></app-header>
<div class="container-fluid">
    <div class="title">
        Join Conference Sessions
    </div>
    <tabset>
        <tab heading="Day 1">
            <table border=1 width=100% style="border-color:#fff;">
                <thead>
                    <tr class="header_title">
                        <th style="width: 20%;" class="tcenter">Time</th>
                        <th>Session – MAY 26th, 2021</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/1">Watch Now</span>
                        </td>
                        <td>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>Welcome</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/2">Watch Now</span>
                        </td>
                        <td>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>Opening Keynote – <strong>Innovating Food Intelligently In A Post- COVID-19
                                        World</strong></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/3">Watch Now</span>
                        </td>
                        <td><strong>Global Trend In Food Innovation and Technology: How Investors Are Promoting A
                                Healthier and Sustainable Future
                            </strong>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>In this conversation, a panel of investors will share insights on factors guiding
                                    their decisions and innovations that are attracting their attention and why. This
                                    panel will also cover insights on how these innovations will shape a healthier
                                    future of food. </li>
                            </ul>
                            <p style="padding: 0;margin: 0;">Speakers: <strong>Ivan Farneti – Founding Partner, Five
                                    Seasons Ventures.| Joshua Siegel- General Partner, Acronym Venture Capital.
                                    Julie Lerner, Investor, 37 Angels (Session Chair), Sharon Cittone, Founder and CEO
                                    Edible Plant Ventures.</strong>
                            </p>

                        </td>
                    </tr>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/4">Watch Now</span>
                        </td>
                        <td><strong>Leveraging Artificial Intelligence & Big Data To Gain Consumer Insights and Shape A
                                Healthier Future of Food.</strong>
                            In the past 5 years, change in consumer perspectives and preference when it comes to food
                            has driven change in the food industry. How is artificial intelligence driving change and
                            making it easier for companies to stay ahead of consumer needs and changing demands?
                            <p style="padding: 0;margin: 0;">Speakers: <strong>Alon Chen, CEO, Tastewise | Melanie
                                    Bartelme, Global Food Analyst | Riana Lynn, CEO Journey Foods
                                    (Moderator)</strong>
                            </p>
                        </td>
                    </tr>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/5">Watch Now</span>
                        </td>
                        <td>
                            <strong>
                                Leveraging Technology To Promote Transparency, Sustainability and Good Quality
                                Products In The Food Industry, Farm To Fork
                            </strong>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>This conversation focuses on how transparency, traceability and sustainability in
                                    food production without compromising food quality in the process. How can technology
                                    be leveraged to enhance farming? What environmental pain points that needs is to be
                                    address urgently. How does current practices affect carbonization and decabonization
                                    of the soil? How are we leveraging technology to manage this?</li>
                            </ul>
                            <p style="padding: 0;margin: 0;">Speakers: <strong>Jillian Semaan, Director, Food and
                                    Environment, Earth Day Network | Ethan Solovei, CIO, HowGood Inc., Marc Oshima,
                                    Co-founder and CMO, Aerofarms and Dr. Christopher Daugherty (Moderator)</strong>
                            </p>
                            top
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Day 2">
            <table border=1 width=100% style="border-color:#fff;">
                <thead>
                    <tr class="header_title">
                        <th style="width: 20%;" class="tcenter">Time</th>
                        <th>Session – May 27th, 2021</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/1">Watch Now</span>
                        </td>
                        <td>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>Welcome</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/6">Watch Now</span>
                        </td>
                        <td>
                            <strong>Understanding Diet and Microbiome Interaction To Impact
                                Health</strong>

                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>This presentation will cover some of the latest scientific discoveries, shedding
                                    light on how small changes in diet could result in significant impact in health.
                                    Providing insights on discoveries that can completely revolutionize the food
                                    industry in a few years.
                                    <p style="padding: 0;margin: 0;"><strong>Speaker: Dr. Liping Zhao</strong></p>

                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/7">Watch Now</span>
                        </td>
                        <td><strong>Understanding How Nutrition, Microbiome and Genomics Play Crucial Role In
                                Personalized Medicine.</strong>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>Our world is changing and the healthcare crisis we have faced in the past few months
                                    creates the need to better understand the different elements that interact to shape
                                    our health outcomes. In this panel conversation, experts will discuss how nutrition,
                                    genomics and microbiome interact to impact health. Practical innovation that can
                                    empower people to take proactive steps in shaping their health outcomes will be
                                    explored.
                                </li>
                            </ul>
                            <ul class="name_col">
                                <li>Speakers: Dr. Sherry Zhang, CEO, GenoPalate, </li>
                                <li> Dr. Guru Banavar CIO and Head of AI, Viome , </li>
                                <li>Dr. Liping Zhao, Professor, Rutgers University</li>
                                <li> Dr. Nara Szostaczuk, Nutrigenomics Expert</li>

                            </ul>
                        </td>
                    </tr>
                    <tr class="body_content2">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/8">Watch Now</span>
                        </td>
                        <td><strong>Food As Medicine: A Proactive Look At The Future Of Healthcare</strong>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>A deep dive into the concepts of food as medicine. How consumers over the
                                    generations across cultures have leverage the healing power of food. How food may
                                    drive change in the food industry in the post COVID-19 world. The impact of emerging
                                    discoveries in scientific communities and its impact on the future of healthcare.

                                </li>
                            </ul>
                            <ul class="name_col">
                                <li>Speakers: Jonathan Bailor, CEO SANE Solutions</li>
                                <li>Sherry Zhang Ph.D., CEO, GenoPalate</li>
                                <li>Deana Minich PhD, President, Food & Spirit LLC.(Session Chair)</li>
                                <li>Mariette Abrahams Ph.D., CEO, Qina</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="body_content">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/9">Watch Now</span>
                        </td>
                        <td><strong>Innovating Beverages To Meet The Need Of Consumers Healthier Products</strong>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>Reports by persistence market research projected that phytochemical market will grow
                                    by 4.7% year over year to a $5.2 billion by 2019, as curiosity and scientific
                                    discovery of health benefits of these compounds increase. What does the future hold
                                    with regards to beverage innovation. As health awareness increase and consumer
                                    preferences shift to favor “good for you” products. How will the industry change in
                                    the coming years to integrate phytochemicals and reduce sugar and synthetic
                                    additives?

                                </li>
                            </ul>
                            <strong>Dr. Karin Van Het Hof, Snr Director, Research & Development, PepsiCo, Dr. Julia
                                Olayanju (Host)
                            </strong>

                        </td>
                    </tr>
                    <tr class="body_content2">
                        <td class="tcenter">
                            <span class="join" routerLink="/videos/10">Watch Now</span>
                        </td>
                        <td><strong>The Future of Snacking: How To Meet Consumer Demands For Healthier Products
                            </strong>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>Snacking is essential and according to reports by NDP future of snacking report for
                                    2018, more than 386 billion snacks were consumed by Americans that year alone. How
                                    has this industry changed in the past 5 years in response to changing consumer
                                    demands for healthier products? How will COVID-19 pandemic change the types of
                                    products that emerge in the market in the next few years?
                                </li>
                            </ul>
                            <p style="padding:0;margin: 0;"><strong>Speakers:</strong></p>
                            <ul class="name_col">
                                <li>Caroline Mehta, CEO Union Snack ,</li>
                                <li>Katy Galle, SVP, Ocean Spray, </li>
                                <li>Lisa Curtis, CEO, Kulikuli Foods</li>

                            </ul>
                        </td>
                    </tr>
                    <tr class="body_content">
                        <td class="tcenter"><span class="join" routerLink="/videos/11">Watch Now</span>
                        </td>
                        <td><strong>Innovating Alternative Protein: Successfully Breaking Through The Consumer
                                Acceptability Barrier.
                            </strong>
                            <ul style="padding: 0;margin: 0 0 0 18px;">
                                <li>As the need to innovate alternate protein sources increase, there is a need to
                                    discuss how to do this successfully to achieve consumer acceptability at scale. This
                                    panel will discuss practical strategies to successfully achieve widespread consumer
                                    acceptability. The panel will discuss the role of texture, flavor, and taste in
                                    consumer acceptance and strategies to innovate this successfully. Different
                                    innovative alternative protein sources will be discussed as well as their pros and
                                    cons and more.
                                </li>
                            </ul>
                            <p style="padding:0;margin: 0;"><strong>Speakers:</strong></p>
                            <ul class="name_col">
                                <li>David Benzaquen Partner, Impossible Plants.</li>
                                <li>Mark Driscoll, Founder and Executive Director, Tasting The Future. </li>
                                <li>Dr. Anabelle Broadbent, CEO, Verde Ops.</li>
                                <li>Kristie Middleton, VP Business Development, Rebellyous Foods</li>

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</div>
<app-footer></app-footer>