<app-header></app-header>
<section>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="offset-sm-4 col-sm-4">
          <div class="form-grey" *ngIf="!passwodChanged">
            <h4 class="center">ENTER NEW PASSWORD</h4>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
              <div class="form-group">
                <label for="password" class="control-label label-form">Password</label>
                <input
                  id="password"
                  type="password"
                  class="form-control input-lg"
                  name="password"
                  [formControl]="password"
                  minlength="5"
                  required
                />
                <div class="help-block" *ngIf="password.errors?.required && password.dirty">Password is required</div>
                <div class="help-block" *ngIf="password.errors?.minlength && password.dirty">
                  Minimal password length is 5 characters
                </div>
              </div>
              <div class="form-group">
                <label for="passwordRepeat" class="control-label label-form">Repeat password</label>
                <input
                  id="passwordRepeat"
                  type="password"
                  class="form-control input-lg"
                  name="passwordRepeat"
                  [formControl]="repeatPassword"
                  minlength="5"
                  required
                />
                <div class="help-block" *ngIf="repeatPassword.errors?.required && repeatPassword.dirty">
                  Repeat password is required
                </div>
                <div class="help-block" *ngIf="passwords.invalid && repeatPassword.dirty">The password fields do not match</div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block btn-lg" [disabled]="passwords.invalid">Update password</button>
              </div>
            </form>
          </div>
          <h4 class="center" *ngIf="passwodChanged">Password changed, please login</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
