<app-header></app-header>
<div class="banner_section">
  <div class="container-fluid">
    <div class="banner_wrapper">
      <div class="row">
        <div class="col-md-6">
          <div class="banner_description_pane">
            <h1 class="banner_description">Promoting & Supporting <br> Innovating Food Brands</h1>
          </div>
        </div>
        <div class="col-md-6">
          <img class="banner_img" src="/assets/img/landing/Illustration1_.png" alt="">
        </div>
      </div>
    </div>
    <div class="time-line">
      <ul>
        <li>
          <a routerLink='/podcast' class="name" >Podcast</a>
        </li>
        <li>
          <a class="name" href="https://www.gfhisummit.com/" target="_blank">FoodNiche® <br>
            Global Health Summit</a>
        </li>
        <li>
          <a class="name" target="_blank" href="https://www.disruptfoodsummit.com/">FoodNiche® <br>
            Tech Summit</a>
        </li>
        <li>
          <a class="name" routerLink='/join-to-conference'>Videos</a>
        </li>
        <li>
          <a class="name" routerLink='/'>Contacts  us</a>
        </li>
        <li>
          <a class="name" routerLink='/payments/select'>Join Us!</a>
        </li>
      </ul>
    </div> 
  </div>
</div>
<div class="logo_section pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="category_title">Featured on:</p>
        <div class="category-wrapper">
          <div class="container">
            <div class="category_pane">
              <div class="row align-items-center d-flex justify-content-between pt-3 pb-3">
                <div class="swan category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/new_ny_wire_logo.png">
                </div>
                <div class="swancer category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/zz9.png">
                </div>
                <div class="sport category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/usnews_logo-1.png">
                </div>
                <div class="audio category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/5788f99912df981e2b156a72.png">
                </div>
                <div class="rko category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/logo_AOGR.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="category_btn_pane">
          <button class="btn btn_category">Join Us!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="prmotion_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img" src="/assets/img/landing/Illustration2_.png" alt="">
      </div>
      <div class="col-md-6">
        <div class="description_pane">
          <h2 class="title">Promoting Innovative Brands <br> in Food + Health </h2>
          <p class="title_m">Brand Showcase</p>
          <p class="description">We create opportunities for brands innovating for 
            a healthier & sustainable food system share their 
            story and products.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="program_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="description_pane">
          <h2 class="title">Providing Exceptional <br> Programming & Resources </h2>
          <p class="title_m">Education</p>
          <p class="description">We keep leaders in the food industry informed and 
            ahead of the trends through our programming, 
            reports and newsletters.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img" src="/assets/img/landing/Illustration3.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="collaboration_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img" src="/assets/img/landing/Illustration4.png" alt="">
      </div>
      <div class="col-md-6">
        <div class="description_pane">
          <h2 class="title">Facilitating Collaboration <br> & Networking </h2>
          <p class="title_m">Networking</p>
          <p class="description">We create opportunities for food industry leaders 
            innovators and investors to expand their network, 
            collaborate or discover potential partners.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="logo_section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="category_btn_pane">
          <p class="title_m">Companies In Our Network Includes:</p>
        </div>
        <div class="category-wrapper">
          <div class="container">
            <div class="category_pane">
              <div class="row align-items-center d-flex justify-content-between pt-3 pb-3">
                <div class="swan category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/2560px-PepsiCo_logo.svg.png">
                </div>
                <div class="swancer category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/AeroFarms_Logo+Tagline_FullColor_Gradient.png">
                </div>
                <div class="sport category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/1280px-Facebook_Logo_(2019).svg.png">
                </div>
                <div class="audio category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/Viome.png">
                </div>
                <div class="rko category_item">
                  <img class="category_img" src="/assets/img/landing/Logo/edamam_logo.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="category_btn_pane">
          <button class="btn btn_category">Join Us!</button>
        </div>
        <div class="category_btn_pane">
          <img src="/assets/img/Hand_5.png" class="hand_5" alt="Hand_4" />
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<app-login-reg-modal></app-login-reg-modal>